# archvos de Python y cache
__pycache__/
*.pyc
*.pyo

# entornos virtuales
.venv/
venv/

# Cache de herramientas
.ruff_cache/
.qlty/

# archivos del sistema operativo de desarrollo
.DS_Store

# archivos del editor de código
.vscode/
